# Dependencies
node_modules/

# Production Build
dist/

# Environment Variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
.agent/
.agents/
.gemini/
.gsd/

